* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Roboto Slab', serif!important;*/
    overflow-x: hidden;
}

h1, h2, h3, h4,h5,h6 {
    font-family: 'Quicksand', sans-serif;!important;
}

p, strong {
    font-family: sans-serif;
}


.student-page-header {
    height: 400px;
    width: 100%;
    /*border: 2px solid blue;*/
    background-color: #5e62d1;

}

.inner-student-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 1.5em;
}

.inner-student-header > div {
    margin: 0 0.5em;
}

.inner-header-col-1, .inner-header-col-2, .inner-header-col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-header-col-1 {
    align-items: flex-start;
    justify-content: space-evenly;
    /*border: 1px solid black;*/
    height: 400px;
    /*width: 450px;*/
}
.inner-header-col-3 {
    position: relative;
}

.student-zoom-link {
    width: 250px;
    height: 55px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    padding: 1em;
    background-color: #4549b8;
    position: absolute;
    bottom: -8%;
    left: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.student-zoom-link > a {
    color: rgba(255,255,255,0.8);
    font-size: 0.7em;
    border-radius: 100px;
    padding: 5px 12px;
    height: 25px;
    width: 130px;
    background-color: #62c462;
    text-decoration: none!important;
    margin-left: 1em;
}

.teacher-zoom-link > a:hover {
    filter: brightness(0.9);
    color: rgba(255,255,255,0.8);
}

.circle-icon {
    animation: glow 2s infinite;
    color: rgba(255,255,255,0.3);
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px white;
    }

    15% {
        text-shadow: 2px 2px 10px rgba(255, 255, 255, 1),
        -2px -2px 10px rgba(255, 255, 255, 1);
    }
    30% {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, .7),
        -2px -2px 4px rgba(255, 255, 255, .7);
    }
    50% {
        text-shadow: 20px 20px 50px rgba(255, 255, 255, .5),
        -20px -20px 50px rgba(255, 255, 255, .5);
    }
}


.student-header-typing-box {
    height: 100px;
    width: 200px;
    display: flex;
}
.student-header-typing-box h1 {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform:capitalize;
    margin: 0 5px;
}

.typewriter {
    position: relative;
    color: #fff;
}

.typewriter:after {
    content: '';
    position: absolute;
    right: -40px;
    width: 0.8em;
    top: 35%;
    border: 2px solid white;
    animation: blink 0.5s ease infinite;
}

@keyframes blink {
    0% {opacity: 0}

    100% {opacity: 1}

}


.student-profile-big-image {

    grid-column: 4/4;
    grid-row: 1/3;
    position: relative;
    height: 200px;
    width: 200px;

}
.student-profile-img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.st-heading {
    font-size: 2em;
    font-weight: 500;
    color: rgba(255,255,255,0.85);
    position: relative;
    align-self: flex-start;
    grid-row: 1/2;
    grid-column: 1/2;

}

.st-heading:before {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #5fecc8;
    position: absolute;
    top: -10px;
    transform-origin: left;
    animation: right-moveit 1s ease-in-out 0.5s;
}
.st-heading:after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #5fecc8;
    position: absolute;
    bottom: -10px;
    right: 0;
    transform-origin: right;
    animation: left-moveit 1s ease-in-out 0.5s;
}

@keyframes right-moveit {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}

@keyframes left-moveit {
    from {transform: scaleX(0);}
    to {transform: scaleX(1);}
}

.upcoming-lessons {
    /*height: 290px;*/
    width: 400px;
    position: relative;
    padding: 1em;
    background-color:  #4549b8;
    border-radius: 5px;
}
.upcoming-date-time{
    width: 400px;
    position: relative;
    margin-top:1em;
    padding: 1em;
    background-color:  #4549b8;
    border-radius: 5px;
}
.upcoming-date-time p{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 8%;
    top:0;
}
.upcoming-lesson-heading {
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
}


/*h1 {*/
/*    font-family: 'Roboto Slab', sans-serif;*/
/*    text-align: center;*/
/*    margin-top: 2em;*/
/*    font-size: 1em;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 5px;*/
/*    color: #f6f4f3;*/
/*}*/
#timer {
    color: #f6f4f3;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 25%;
}
.days, .hours, .minutes, .seconds {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-top: 20%;
}
.days {
    background: #ef2f3c;
}
.hours {
    background: #f6f4f3;
    color: #183059;
}
.minutes {
    background: #38dbb0;
}
.seconds {
    background: #f0a202;
}
.numbers {
    font-family: 'Montserrat', sans-serif;
    color: #183059;
    font-size: 3em;
}
.white {
    position: absolute;
    background: #f6f4f3;
    height: 55px;
    width: 55px;
    left: 32%;
    top: 40%;
}
.white .triangle {
    border-bottom: 14px solid #f6f4f3;
}
.white .string {
    background: #f6f4f3;
    border: 1px solid #f6f4f3;
}
.red {
    position: absolute;
    background: #ef2f3c;
    left: 15%;
    top: 30%;
    height: 55px;
    width: 50px;
}
.red .triangle {
    border-bottom: 14px solid #ef2f3c;
}
.red .string {
    background: #ef2f3c;
    border: 1px solid #ef2f3c;
    height: 50px;
}
.blue {
    position: absolute;
    background: #37ffd6;
    height: 60px;
    width: 60px;
    left: 52%;
    top:35%;
}
.blue .triangle {
    border-bottom: 14px solid #37ffd6;
}
.blue .string {
    background: #37ffd6;
    border: 1px solid #37ffd6;
    height: 35px;
}
.balloon {
    border: 1px solid #000;
    border-radius: 50% 50% 50% 50%/ 40% 40% 60% 60%;
    z-index: 2;
}
.eye {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 30%;
    left: 25%;
    background: #000;
    border-radius: 50%;
}
.eye:after {
    content: '';
    left: 25px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
    position: absolute;
}
.mouth {
    position: absolute;
    top: 45%;
    left: 43%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.happy {
    border: 2px solid;
    border-color: transparent #000 #000 transparent;
    transform: rotate(45deg);
}
.triangle {
    position: absolute;
    left: 40%;
    bottom: -10%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.string {
    position: absolute;
    height: 25px;
    width: 1px;
    left: 50%;
    top: 100%;
    z-index: -1;
}
.star {
    width: 20px;
    height: 20px;
    background: #f6f4f3;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.star-red {
    width: 20px;
    height: 20px;
    margin-left: 35px;
    margin-top: -3px;
    background: #ef2f3c;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.student-course-details {
    height: 250px;
    width: 500px;
    grid-column: 2/4;
    grid-row: 2/5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;

}
.student-course-details > div {
    height: 150px;
    width: 150px;
    background-color:  #4549b8;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.student-course-details > div > strong {
    font-size: 1em;
    position: absolute;
    font-weight: 100;
    color: #fff;
    text-align: center;
    margin-top: 5px;
}

.teacher-name-for-course {
    position: relative;
}

.teacher-for-course-avatar, .lesson-student-img, .course-student-img {
    vertical-align: middle;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -35%;
    left: 17%;
}

/*Student Nav pills section*/

.student-tab-panel-section {
    /*border: 2px solid blue;*/
    height: 100%;
    width: 100%;
}

.student-body-container {
    /*border: 2px solid red;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

.student-tabs-option {
    height: auto;
    min-height: 100vh !important;
    flex: 1;
    /*border: 1px solid black;*/
    flex-basis: 15%;
    background-color: #4b4b96;
    position: sticky;
    padding: 2.5em 0;
    transition: all 0.5s ease!important;
}

.student-tabs-content {
    height: auto;
    min-height: 100vh!important;
    flex: 4;
    /*border: 1px solid black;*/
    flex-basis: 85%;
    /*height: 100vh;*/
    overflow: scroll;
}

.student-tabs-content::-webkit-scrollbar {
    /*width: 0px;*/
    /*background: transparent; !* make scrollbar transparent *!*/
}

.dashboard-header {
    /*border: 1px solid black;*/
    height: 100px;
    width: 100%;
    padding: 1em;
    color: rgba(255,255,255,0.9);
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-size: 1.2em;
}

.dashboard-header > strong {
    margin-top: 6px;
    margin-right: 10px;
}

.paper-icon {
    width: 40px;
    /*border: 1px solid black;*/
    height: 40px;
    border-radius: 3px;
    background-color: #59a3fc;
    /*background-color: rgba(255,0,0,0.7);*/
    /*background-color: #C0392B;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
}

.side-panel-student-page a {
    max-height: 27px;
    color: #5fecc8;
    text-align: center;
    margin: 0.5em 0.3em;
    padding: 0.5em 0.2em;
    font-size: 0.9em;
    font-weight: 200!important;
    border-radius: 0!important;
    transition: all 0.4s ease-in-out!important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.side-panel-student-page a::after {
    content: '';
    width: 100%;
    height: 1.5px;
    background-color:#59a3fc;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
    transform: scaleX(0);
    bottom: 0;
    transform-origin: center;
}

.side-panel-student-page a:hover::after {
    transform: scaleX(1);
}

.side-panel-student-page a:hover {
    color: #5fecc8;
    /*filter: brightness(0.9);*/

}
.side-panel-student-page a.active, .side-panel-student-page a.active:hover,
.side-panel-student-page a.active:focus {
    background-color: transparent!important;
    /*color: #000;*/
    font-weight: 500!important;
    border-left: 4px solid #59a3fc;
    border-radius: 2px;
}


.student-logout {
    position: absolute;
    bottom: 0;
    /*margin-top: 10%;*/
    left: 5%;
    border: 1px solid #5fecc8;
    border-radius: 50px;
    padding: 0 1em;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none!important;
    color: white;
    transition: all 0.4s ease;
}

.student-logout:hover {
    color: white!important;
    transform: translateX(1em);
}



/*Studetn nav pills end*/

.student-tabs-content {
    background-color: #f1f1f1;
}
/*Student Profile Content start*/

#student-profile-content {
    width: 100%;
    height: 100%;
    /*border: 2px solid darkorange;*/
    /*padding: 2em 2em;*/
}

.student-profile-area {
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
    /*background-color: #fff;*/
    position: relative;

}

.student-profile-area > div {
    /*margin: 1em 0;*/
}
.student-profile-information {
    /*border: 1px solid black;*/
    width: 100%;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    position: relative;

}
.student-profile-information #profile-background-img{
    height:250px;
    width:100%;
    position: absolute;
    top:0;
    vertical-align: top;
    horiz-align: center;
}
.student-profile-content-img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
}

.student-id-name {
    color: rgba(0,0,0,0.7);
    font-size: 1.2em;
    font-weight: 400;
}

.student-information-div {
    border: 1px solid #cccc;
    height: 100%;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 2em;

    /*position: absolute;*/
    /*top: 80%;*/
    /*left: 10%;*/
    /*background-color: #f1f1f1;*/

}
.student-personal-info {
    display: grid;
    /*grid-auto-flow:  column;*/
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: 1fr 1fr;
    padding: 2em;

}

.student-personal-info > span {
    /*border: 1px solid black;*/
    margin: 0.5em 1em;
    padding: 0.5em 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.student-personal-info > span > strong {
    margin: 0 1em;
}
.personal-info-key {
    font-size: 1em;
    text-transform: capitalize;
    color: rgba(0,0,0,0.5);

}
.personal-info-value {
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
}

.student-enrolled-courses {
    border: 1px solid #cccc;
    height: auto;
    width: 100%;
    padding: 1em 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 110%;
}


.st-enroll-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.review-as-student strong {
    font-size: 1.2em;

}

.student-select-dropdown{
    width: 200px!important;
    font-size: 0.9em!important;
}
.student-select-dropdown:focus{
    outline: 0!important;
    box-shadow: none!important;
}
.student-select-dropdown:hover {
    filter: brightness(0.9);
}
.student-select-dropdown > option {
    margin: 0.5em 0!important;
}

/*Student show lessons and courses he is enrolled in */
.student-provide-info {
    border: 1px solid #cccc;
    height: auto;
    width: 100%;
    padding: 1em 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 200%;

}
/*Student show lessons and courses he is enrolled in */

/*Review*/

.student-reviews-content {
    /*border: 1px solid black;*/
    display: flex;
}

.teachers-review-profile-img {
    vertical-align: middle;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 1.2em 1em 0 1em;
}

.teacher-review-area {
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.review-content-by-teacher {
    margin-top: 0.3em!important;
}
.review-content-by-teacher p{
    font-size: 0.9em;
    font-weight: 300;

}

.review-publish-time {
    margin-top: 0.5em;
}

.review-publish-time p {
    font-size: 0.9em;
    color: rgba(0,0,0,0.4);
}



/*Student Profile Content End*/


/*Student Lesson Tab Start*/

#student-lesson-content {
    /*padding: 1em 1em;*/
}

.student-lessons-header {
    height: 200px;
    width: 100%;
    background-color: coral;
    margin-bottom: 1em;
}
.student-lessons-header-img{
    height: 100%;
    width:100%;
}

.student-most-recent-wrapper {
    padding: 2em;
}
.student-lessons-main-list {
    border: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    margin-top: 1em;
    background-color: #fff;
    border-radius: 5px;
    /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);*/
}

#nav-all-lessons-tab, #nav-most-recent-tab, #nav-missed-tab {
    font-size: 0.9em;

}

.student-lessons-main-list > .student-lessons-list {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.student-lessons-list > div {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em 0.5em;
}

.student-list-course-img, .student-list-lesson-img, .student-list-teacher-img {
    vertical-align: middle;
    height: 80px;
    width: 120px;
}

.student-list-course-name, .student-list-lesson-name, .student-list-teacher-name {
    font-size: 0.9em;
    text-align: center;
    padding: 0.4em 1em;
}

.student-list-course-details-button, .student-list-lesson-details-button, .student-list-teacher-details-button {
    max-height: 30px;
    max-width: 80%;
    border-radius: 100px!important;
    background-color: #fff;
    position: relative;
    transition: all 0.5s ease!important;
    overflow: hidden;
    border: 1px solid #5e62d1!important;
    alignment: bottom;
}

.student-list-course-details-button p, .student-list-lesson-details-button p, .student-list-teacher-details-button p {
    text-align: center;
    text-transform: capitalize;
    color: #5e62d1;
    font-weight: 300;
    font-size: 0.6em;
    position: relative;
    padding: 0.3em;
    letter-spacing: 1px;
    z-index: 1;
    transition: all 0.5s ease;
}

.student-list-course-details-button:before, .student-list-lesson-details-button:before, .student-list-teacher-details-button:before {
    content: "";
    width: 100%;
    height: 50px;
    background-color: #5fecc8;
    color: white;
    position: absolute;
    transition: all 0.5s ease;
    top: 60px;
    left: 0;

}
.student-list-course-details-button:hover,.student-list-lesson-details-button:hover, .student-list-teacher-details-button:hover{
    border: 1px solid #5fecc8!important;
}

.student-list-course-details-button:hover:before , .student-list-course-details-button p:hover,
.student-list-lesson-details-button:hover:before, .student-list-teacher-details-button:hover:before,
.student-list-lesson-details-button p:hover, .student-list-teacher-details-button p:hover {
    top: 0;
    color: white!important;
}

.student-list-date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1em 1em;
    background-color: white;
    width: 170px;
    height: 70px;
    border-radius: 20px;
    margin: 1em 0;
}

.student-list-date strong {
    font-size: 0.9em;
    text-align: center;
}

.student-list-time-slot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #f1f1f1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1em 1em;
    background-color: white;
    width: 170px;
    height: 70px;
    border-radius: 20px;

}
.student-list-time-slot strong {
    font-size: 0.9em;
    text-align: center;
}

.student-list-progress-col {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-list-progress-col > span {
    display: flex;
}

.student-list-progress-col > span > p {
    font-size: 0.8em;
    margin: 0 1em;
    text-align: left;
}

.student-list-cancel-button {
    height: 40px!important;
    width: 140px;
    border-radius: 100px!important;
    box-shadow: none!important;
    outline: none!important;
}


.student-booking-feedback-container{

    width: 100px;
    height: 50px;

}

.student-booking-feedback-container strong {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.5em;
    color: rgba(0,0,0,0.7);
}
.student-booking-feedback-container-heading{

    width: 100%;
    height: 20%;

}
.student-booking-feedback-container-text{

    width: 100%;
    height: 80%;
}

/*Student Lesson Tab END*/


/*Book Lessons CSS Start*/
.book-lesson-heading{
    margin-top: 1em;
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-weight: bolder;
}
#student-book-lesson-content {
    /*padding: 1em 1em;*/
}

.book-lessons-header {
    height: 200px;
    width: 100%;

    position: relative;
}


.book-lessons-inner-header {
    width: 100%;
    height: 100%;
}
#student-book-lesson-content {
    position: relative;
}

.show-boxes-upon-select {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    opacity: 0;
    transition: all 0.5s linear;
    height: 220px;
    position: absolute;

    right: 0;
    left: 0;
}

.show-boxes-upon-select > div {
    margin: 0 2em;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.animate-boxes-upon-select {
   opacity: 1;
}

.show-course-boxes-upon-select, .show-lesson-boxes-upon-select,
.show-teacher-boxes-upon-select {
    width: 320px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.show-course-boxes-upon-select {
    opacity: 0;
}

.animate-course-box-upon-select {
     opacity: 1;
 }

.show-lesson-boxes-upon-select {
    opacity: 0;
}

.animate-lesson-boxes-upon-select {
    opacity: 1;
}
.show-teacher-boxes-upon-select{opacity: 0}
.animate-teacher-boxes-upon-select{opacity: 1}

.book-lesson-reset-button {
    height: 35px;
    width: 80px;
    text-align: center;
    position: absolute;
    bottom: -6%;
    /*right: 6%;*/
    margin: auto;

}

.book-lesson-reset-button:focus {
    outline: black!important;
}


.content-div-for-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em 1em;
}

.img-for-select {
    vertical-align: middle;
    height: 80px;
    width: 80px;
}

.name-select{
    text-align: left;
    align-self: flex-start;
    margin: 0.2em 0;
}

.description-for-select {
    font-size: 0.8em;
    font-weight: 300;
    text-align: left;
}

.book-lessons-select-container {
    /*height: 100%;*/
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.animate-select-container {
    transform: translateY(240px);
}

/*Book Lessons CSS End*/

/*Student Teachers Content Start*/
#student-teachers-content {
    /*padding: 1em 1em;*/
    /*margin-bottom: 1em;*/
    position: relative;
}

.student-teachers-content-header {
    height: 200px;
    width: 100%;
    /*border: 2px solid red;*/

}

.student-teachers-main-container {
    display: flex;
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.student-teachers-main-container > div {
    height: 400px;
    width: 350px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em;
}

.student-teacher-img {
    width: 330px;
    height: 200px;
    /*object-fit: cover;*/
}

.teacher-name-with-flag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}
.teacher-name-with-flag > strong {
    font-size: 1.2em;
}

.teacher-name-with-flag > img {
    margin: 0 1em;
}

.star-outer {
    position: relative;
    display: inline-block;
}

.star-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.star-outer::before {
    content: '\f005';
    font-family: 'Font Awesome\ 5 Pro';
    font-weight: 900;
    color: #cccc;
}

.star-inner::before {
    content: '\f005';
    font-family: 'Font Awesome\ 5 Pro';
    font-weight: 900;
    color: #f8ce0b;
}

.student-teacher-about {
    /*border: 1px solid black;*/
    height: 200px;
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teacher-one-line p {
    margin-top: 0.5em;
    font-size: 0.8em;
    height: 46px!important;
    margin-bottom: 1rem!important;

}

.student-teacher-detail-button {
    height: 45px;
    width: 80%;
    background-color: #4281F0;
    border-radius: 10px;
    overflow: hidden;
    alignment: bottom;
    outline: none!important;
    /*margin: 2em 0;*/
}

.student-teacher-detail-button p {
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.6em;
    letter-spacing: 1px;
    z-index: 1;
}



.student-teacher-all-details {
    width: 70%;
    max-height: 100%;
    margin: auto;
    margin-top: 1.5em;
    position: relative;
    border-radius: 5px;
    background-color: white;
    display: none;
    z-index: 2;
}

.student-teacher-all-details {
    padding: 2em;
}

.student-teacher-about-details strong {
    margin: 1em 0;
    font-size: 1.5em;
}

.student-teacher-about-details p {
    font-size: 0.9em;
    color: rgba(0,0,0,0.7);
    padding: 1em 0;
    text-align: justify;
}

.student-teacher-education-detials strong {
    font-size: 1.5em;
}

.teacher-education-main-flex {
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.teacher-education-main-flex > div {
    /*border: 1px solid black;*/
    padding: 1em 0;
    border-bottom: 1px solid #f1f1f1;
}

.teacher-education-main-flex > div > span {
    margin: 1em 1em;
}

.teacher-education-main-flex > div > span > strong {
    font-size: 1em;
    font-weight: 400;
}

.student-teacher-reviews-for-teacher {
    margin: 1em 0!important;
}

.student-teacher-detail-cancel-button {
    width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
    border: 1px solid #0D5C63;
    text-align: center;
    border-radius: 50px;
    position: absolute;
    top: 0.5em;
    left: 45%;
    align-self: flex-start;
    justify-content: center;
    outline: none!important;
    margin-top: 0.5em;
    cursor: pointer;
}

.student-teacher-detail-cancel-button:hover {

    transform: scale(1.05);
}

/*Student Teachers Content Start*/

/*Student Settting Content CSS Start*/

#student-settings-content {
    /*padding: 1em 1em;*/
    /*margin-bottom: 1em;*/
    position: relative;
}

.student-setting-header {
    width: 100%;
    height: 200px;
    /*border: 1px solid black;*/
    margin-bottom: 1em;
}

.student-settings-main-container {
    width: 90%;
    height: auto;
    margin: auto;
    border: 1px solid #cccc;
    /*position: absolute;*/
    right: 15%;
    background-color: white;
    padding: 2em;
    border-radius: 5px;
}

.student-settings-first-row, .student-settings-second-row, .student-settings-third-row,
.student-settings-fourth-row, .student-settings-fifth-row {
    display: flex;
    flex-direction: row;
    padding: 1em 1em;

}
.student-settings-first-row > div, .student-settings-second-row > div, .student-settings-third-row > div, .student-settings-fourth-row > div,
.student-settings-fifth-row > div{
    width: 50%;
    display: flex;
}

.change-name-heading > strong, .change-email-heading strong, .change-password-heading strong {
    color: rgba(0,0,0,0.6);
}

.student-settings-name-first-col strong, .student-settings-email-first-col strong, .student-settings-password-first-col strong,
.student-settings-password-second-row-first-col strong, .student-settings-password-third-row-first-col strong {
    font-size: 0.9em;
    color: rgba(0,0,0,0.6);
}

#student-settings-name-input, #student-settings-curr-password-input, #student-settings-new-password-input , #student-settings-email-input,
#student-settings-confirm-password-input {
    width: 80%;
    height: 25px;
    outline: none!important;
    box-shadow: none;
}

.student-settings-password-third-row-second-col {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.student-settings-password-third-row-second-col > p {
    padding-top: 1em;
    font-size: 0.7em;
    color: rgba(0,0,0,0.6);
}

.student-settings-first-col strong {
    margin: 0 0 0 10px;
    font-size: 0.9em;
    color: rgba(0,0,0,0.6);
}

.student-setting-change-name-div, .student-setting-change-email-div, .student-setting-change-password-div {
    background-color: #f1f1f1;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

.student-setting-change-profile-div {
    height: 250px;
    width: 100%;
    position: relative;
}

.file-upload {
    display: none;
}
.student-setting-change-profile-circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    left: 50%;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 5%;
}
.student-setting-change-profile-circle img {
    max-width: 100%;
    height: 200px;
    position: absolute;
    /*top: 20%;*/
    object-fit: cover;
}




.student-setting-p-image {
    height: 40px;
    width: 160px;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0;
    margin-left: -80px;
    left: 50%;
    color: #666666;
    text-align: center;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.student-setting-p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.student-img-upload-button {
    font-size: 1.2em;
}

.student-img-upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}

/*.student-settings-second-row > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/



/*Student Settting Content CSS Start*/


.booking-options{
    width: auto !important;
}




/*BASSAM CALENDAR*/

.main-calendar-container{
    /*position: absolute;*/
    /*bottom: -210%;*/
    /*left: 11%;*/
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    overflow: scroll;
    display: block;
    padding: 58px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #f0f4f5;
    /*box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);*/
}


.calendar-container{
    /*border: 2px solid red;*/
    height: 500px;
    width: 100%;
    display: block;
}

.calendar-container-header{
    background-color: #f0f4f5;
    height: 15%;
    width: 100%;
    position: relative;
    padding-bottom: 10px;
}
.calendar-container-heading-date{
    width:200px;
    height: 100%;
    /*border: 2px solid blue;*/
    position: absolute;
    left: 50%;
    margin-left: -100px;
    text-align: center;
}
.calendar-container-heading-timezone{
    /*border: 2px solid red;*/
    height: 100%;
    width: 30%;
    position: absolute;
    right: 0;
    text-align: center;
}
.extra-space{
    height: 30%;
}

.calendar-container-main-body{
    height:85%;
    width: 100%;
    position: relative;
    background-color: #ffffff;

}
.calendar-container-main-body-center-section-expand{
    height: 30px;
    width: 180px;
    border: 2px solid rgba(0,0,0,0.8);
    position: absolute;
    bottom: -5%;
    left: 50%;
    margin-left: -90px;
    z-index: 999;
    background-color: transparent;
    border-radius: 11px;
    transition: .4s ease;
}

.calendar-container-main-body-center-section-expand:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
    border: 4px;
    transform: scale(1.01,1.01);
}
.calendar-container-main-body-center-section-expand:focus{
    outline: none;
}
.calendar-container-main-body-left-section{
    border: 1px solid rgba(0,0,0,0.3);
    /*padding: 5px;*/
    height: 100%;
    width: 5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f0f4f5;
}
.calendar-container-main-body-center-section{

    /*border: 2px solid orangered;*/
    height: 100%;
    width: 89%;
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    min-height: 100%;
    background-color: #f0f4f5;

}


/*.calendar-container-main-body-center-section::-webkit-scrollbar {*/
/*    width: 0px;*/
/*    background: transparent;*/
/*}*/


.calendar-container-main-body-right-section{
        /*padding: 5px;*/

    border: 1px solid rgba(0,0,0,0.3);
    height: 100%;
    width: 5%;
    display: inline-block;
    vertical-align: top;
    background-color: #f0f4f5;

}

.wrapper-icons{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*.calendar-container-main-body-center-section-slots{*/
/*    border:2px solid red;*/
/*    height: auto;*/
/*    width: 13.8%;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*}*/
.calendar-container-main-body-center-section-day-1{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-2{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-3{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-4{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-5{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-6{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}
.calendar-container-main-body-center-section-day-7{
    /*border:2px solid red;*/
    height: auto;
    width: 13.8%;
    display: inline-block;
    vertical-align: top;
}

.calendar-days-column-heading{
    background-color: rgba(0,0,0,0.9);
    /*border: 2px solid #8990d2;*/
    height:80px;
    widht:100%;
    color: white;
    position: relative;
    text-align: center;

}
.calendar-days-column-heading-bottom-line{
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    background-color: #ff09e7;
}
.calendar-container-main-body-center-section-slots-days-container{
    border-radius: 9px;
    color: rgba(0,0,0,0.7);
    background-color: #ffffff;
    height: 53px;
    width: 100%;
    border: 1px solid #ffffff;
    margin: 2px 0;
    text-align: center;
    transition: 0.3s linear;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.3);
}
.calendar-container-main-body-center-section-slots-days-container:hover{
    filter:brightness(0.9);

}
.calendar-container-main-body-center-section-slots-days-container:focus{
    outline: none;

}
.calendar-container-heading-my-timezone{
    position: absolute;
    left: 0;
    height:100%;
    width:30%;
    /*border: 2px solid red;*/
}

.calendar-container-heading-my-timezone-top{
    position: absolute;
    top: 0;
    height:40%;
    width:100%;
    /*border:2px solid blue;*/
    text-align: center;
    font-weight: 600;
}
.calendar-container-heading-my-timezone-bottom{
    position: absolute;
    bottom: 0;
    height:60%;
    width:100%;
    /*border:2px solid yellow;*/
    text-align: center;
}

.date-range{
    font-weight: 700;
}
.wrapper-icons{
    color: #347dc7;
    /*height: 58px;*/
    width: 5%;
    outline: none!important;
    /*margin: 0 0 0 -5px;*/
    /*border-radius: 50px;*/
}

.wrapper-icons:focus {
    outline: none!important;
    box-shadow: none!important;
}

.column-selected-slot{
    position:relative;
}
.selected-slot-div{
    position: absolute;
    top: 0;
    height:30%;

    width: 100%;
}
.selected-slot-heading{
    position: absolute;
    top: 0;
    height: 30%;

    width:100%;

}
.selected-slot-content{
    position: absolute;
    bottom: 0;
    height: 70%;

    width:100%;
}
.selected-everything-booking-button-div{
    position: absolute;
    top:40%;
    height:30%;
    width: 100%;



}

.selected-everything-booking-button{
    height:50px!important;
    width: 80%!important;
    border: 2px solid rgba(0,0,0,0.8)!important;
    background: transparent!important;
    transition: 0.4s ease!important;
    border-radius: 100px!important;
    margin-top: 4em!important;
    margin-left: 0.9em!important;

}
.selected-everything-booking-button:hover{
    background-color: rgba(0,0,0,0.8)!important;
    color: white!important;
}


/*BASSAM CALENDAR END*/


/*Student course START*/
#student-courses-content {
    /*padding: 1em 1em;*/
    /*margin-bottom: 1em;*/
    position: relative;
}


.student-course-header {
    width: 100%;
    height: 200px;
    /*border: 1px solid black;*/
    margin-bottom: 1em;
}

.student-courses-main-flex-container {
    /*border: 1px solid black;*/
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /*align-items: flex-start;*/
    padding-left: 2em;
    flex-direction: column;
    align-items: center;
}

.student-courses-main-flex-container > div {
    /*height: 250px;*/
    width: 80%;
    border: 1px solid rgba(0,0,0,0.1);
    /*background-color: white;*/
    /*margin: 1em 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.student-course-div {
    padding: 0.5em;

}
.student-course-inner-div {
    /*border: 1px solid black;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /*padding: 10px;*/
}

.student-course-image-div {
    height: 230px;
    width: 300px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-course-image-div img {
    height: 230px;
    width: 300px;
    object-fit: cover;
}

.student-course-content-div {
    height: 250px;
    width: 100%;
    padding: 0 1em;
    position: relative;
    /*border: 1px solid black;*/
}

.student-course-name-div {
    height: 70px;
    width: 100%;
    /*border: 1px solid black;*/
    /*margin: 0.5em 0;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding: 1em 1em;
    text-align: left;
}

.student-course-details-div {
    /*border: 1px solid black;*/

    height: 100%;
    width: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/*.student-course-name-div strong {*/
/*    font-size: 0.9em!important;*/
/*}*/
.student-course-name-div p {
    color: #6f757b;
    font-size: 0.8em;
}

.course-teacher-span, .course-lessons-span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.course-teacher-span strong, .course-lessons-span strong{
    font-size: 0.8em;
    font-weight: 500!important;
}

.student-course-buttons {
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: flex-end;
    bottom: 10%;
    padding: 0 1em;
}

.student-course-buttons > button {
    margin: 0 10px;
}

.student-course-lessons-button {
    height: 45px;
    width: 200px;
    background-color: #4281F0;
    border-radius: 100px;
    overflow: hidden;
    alignment: bottom;
    outline: none!important;
    margin: 2em 0;
}

.student-course-lessons-button p {
     text-align: center;
    text-transform: uppercase;
    color: #ffff;
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.6em;
    letter-spacing: 1px;
    z-index: 1;
}

/*.student-course-lessons-button:before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background-color: #5fecc8;*/
/*    color: white;*/
/*    position: absolute;*/
/*    transition: all 0.5s ease;*/
/*    top: 60px;*/
/*    left: 0;*/

/*}*/

/*.student-course-lessons-button:hover:before , .student-course-lessons-button p:hover{*/
/*    top: 0;*/
/*    color: white!important;*/
/*}*/


.student-course-register-button {
    height: 45px;
    width: 70%;
    background-color: #fff;
    border-radius: 100px;
    position: relative;
    transition: all 0.5s ease!important;
    overflow: hidden;
    border: none!important;
    alignment: bottom;
    outline: none!important;
    box-shadow: none!important;

    /*margin-left: 2em;*/
}

.student-course-register-button p {
    text-align: center;
    text-transform: uppercase;
    color: #5e62d1;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    padding: 0.6em;
    letter-spacing: 1px;
    z-index: 1;
    transition: all 0.5s ease;
}

.student-course-register-button:before {
    content: "";
    width: 100%;
    height: 50px;
    background-color: #5fecc8;
    color: white;
    position: absolute;
    transition: all 0.5s ease;
    top: 60px;
    left: 0;

}

.student-course-register-button:hover:before , .student-course-register-button p:hover{
    top: 0;
    color: white!important;
}

.student-course-lessons {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
}

.student-course-lesson-back-button {
   width: 100px;
    height: 50px;
    font-weight: bold;
    background-color: transparent;
    color: rgba(0,0,0,0.8);
    border: 1px solid #0D5C63;
    text-align: center;
    border-radius: 50px;
    /*display: none;*/
    align-self: flex-start;
    justify-content: center;
    outline: none!important;
    margin: 0.5em 50% 0.5em 45%;
    cursor: pointer;
}

.student-course-lesson-back-button:hover {
     transform: scale(1.05);
}

.wrapper {
    max-width: 900px;
    width: 100%;
    margin: 50px auto;
}

.wrapper .title {
    margin-bottom: 25px;
    background: #5393dc;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 2px;
    color: #fff;
}

.wrapper .accordion-item {
    margin-bottom: 1.5em;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.wrapper .accordion-item .accordion-tab {
    background: #fff;
    padding: 1.2em;
    color: #2e3038;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.wrapper .accordion-item .accordion-tab #arrow-span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /*transform: translateY(-50%);*/
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #5393dc;
    color: #fff;
    transition: all 0.3s linear;
}


.wrapper .accordion-item .accordion-content {
    background: #fff;
    transition: all 0.3s ease;
    display: none;
}

.accordion-lesson-div {
    /*border: 1px solid black;*/
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accordion-lesson-div .accordion-lesson-img-div {
    height: 100%;
    /*width: 50%;*/
    flex: 1;
    /*border: 1px solid black;*/
    padding: 1em;
}

.accordion-lesson-img-div img {
    height: 265px;
    width: 100%;
    object-fit: cover;
}

.accordion-lesson-div .accordion-lesson-content {
    height: 100%;
    /*width: 50%;*/
    flex: 2;
    /*border: 1px solid black;*/
    padding: 1em;
}


.wrapper .accordion-item .accordion-content p {
    font-size: 14px;
    line-height: 22px;

    color: #858aa5;

}

.wrapper .accordion-item .accordion-tab.active {
    color: #fff;
    background: #5393dc;
}

.wrapper .accordion-item .accordion-tab.active #arrow-span{
    transform: rotate(180deg);
}

.wrapper .accordion-item .accordion-tab.active + .accordion-content {
    display: block;
}

/*Student course END*/



.student-booking-header-img{
    height:100%;
    width:100%;
}

#student-course-material-content {
    /*padding: 1em;*/
    width: 100%;
    height: 100%;

}

.course-material-slider-main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    /*border: 1px solid black;*/
}

.course-material-slider .slick-initialized {
    display: block;
}

.course-material-header {
    height: 200px;
    width: 100%;
    /*border: 2px solid red;*/
    position: relative;
    margin-bottom: 1em;
    /*margin-top: 2em;*/
}

.course-material-arrow-left, .course-material-arrow-right {
    width: 40px;
    height: 40px;
    border-radius: 50%!important;
    background-color: #ffff;
    border: 1px solid rgba(0,0,0,0.2)!important;
    margin: 0 0.5em;
    z-index: 5;
    box-shadow: none!important;
    outline: none!important;
}

.course-material-arrow-left:hover, .course-material-arrow-right:hover{
    filter: brightness(0.9);
    color: rgba(0,0,0,0.8);

}

.course-material-slider {
    /*border: 1px solid black;*/
    height: 240px;
    width: 1000px;
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 1;
    display: none;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 25px!important;
    /*box-shadow: 1px 1px 15px 1px gray!important;*/
}

/*.course-material-slider:nth-child(n+1) {*/
/*    display: none;*/
/*}*/



.course-material-slide {
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 1px #bbc4de;
    /*border: 1px solid rgb(186, 158, 255);*/
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 1em!important;
}

.slick-initialized .slick-slide {
    display: flex!important;
}


.course-material-slide > h4, .course-material-slide > p {
    text-align: center!important;
}

/*.day-time {*/
/*    height: 70px;*/
/*    width: 100%;*/
/*    border: 1px solid black;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 0.5em;*/
/*}*/

.day-time > span {
    height: 60px;
    width: 50%;
    border: 1px solid black;
    margin: 0 0.5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-material-details-button {
    max-height: 30px;
    max-width: 100%;
    border-radius: 100px!important;
    background-color: transparent;
    position: relative;
    transition: all 0.5s ease!important;
    overflow: hidden;
    border: 1px solid #5e62d1!important;
    alignment: bottom;
    margin: 0.5em;
    /*margin-left: 30%;*/

}

.course-material-details-button p {
    text-align: center;
    text-transform: capitalize;
    color: #5e62d1;
    font-weight: 300;
    font-size: 0.6em;
    position: relative;
    padding: 0.3em;
    letter-spacing: 1px;
    z-index: 1;
    transition: all 0.5s ease;
}

.course-material-details-button:before {
    content: "";
    width: 100%;
    height: 50px;
    background-color: #5fecc8;
    position: absolute;
    transition: all 0.5s ease;
    top: 60px;
    left: 0;
}

.course-material-details-button:hover {
    border: 1px solid #5fecc8!important;
    color: white;
}

.course-material-details-button p:hover {
    color: white;
}

.course-material-details-button:hover:before {
    top: 0;
    color: white!important;
}

.powerpoint-slides-main-container {
    height: 100%;
    width: 100%;
    /*border: 1px solid black;*/
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative;
    margin: 1em 0;
    /*background-color: #ffffff;*/
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border: 1px solid rgba(0,0,0,0.1);
    background: linear-gradient(rgba(94,98,209,0.74), rgba(75,171,209,0.74));
    flex-wrap: wrap;
}

.powerpoint-slides-main-container > div {
    /*border: 1px solid black;*/
    height: auto;
    margin: 0 0.5em;
}
.powerpoint-slides-div {

    flex: 2;
}
.powerpoint-slides-description {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    text-align: justify-all;
    /*border: 1px solid black;*/
}


.powerpoint-slides-description strong {
    text-align: left;
    font-size: 1.5em;
    color: white;
    margin: 1em 0;

}

.powerpoint-slides-description p {
    font-size: 0.9em;
    color: rgba(255,255,255,0.8);
}

/*Course Material CSS END*/





.complain-content-container{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    width: 75%;
    height: 100%;
    padding: 2em;
    text-align: center;
    margin: auto;
    margin-top: 7%;
    background-color: rgba(23, 253, 255, 0.85);
    display: block;
    margin-bottom: 7%;
}
.fas-common{
    width: 29px!important;
}

.complain-heading {
    padding:50px;
}

.table-container{
    width: 80%!important;
    height: 100%;
    text-align: center;
    margin: auto;
    /*background-color: #ffcfcf;*/
    display: block;
}


.submit-complain{
    border: 1px solid #d28989!important;
    border-radius: 26px!important;
    text-decoration: none!important;
    /* border: 24px!important; */
    background-color: #9ed2ff!important;
    padding: 8px!important;
}

/*Payments*/

.payment-selector{
    height:auto;
    background-color: #ffffff;
    border-radius: 5px;
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    padding: 5em 2em 5em 2em;
    margin-top: 2em;
}

.payment-selector {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.payment-selector strong {
    text-align: center;
}

.usd-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calculated-amount-text {
    margin-left: 0.5em!important;
}

.make-payment-button {
     height: 35px;
    width: 200px;
    background-color: #4281F0;
    border-radius: 100px;
    position: relative;
    transition: all 0.5s ease!important;
    overflow: hidden;
    border: none!important;
    alignment: bottom;
    /*margin-bottom: 1em;*/
}

.make-payment-button p {
    text-align: center;
    text-transform: uppercase;
    color:#ffffff;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    padding: 0.1em 0.5em 0.4em 0.5em;
    letter-spacing: 1px;
    /*z-index: 1;*/
    transition: all 0.5s ease;
}

.no-lessons-heading-container{
    border: 1px solid beige;
    height: 30%;
    width: 80%;
    margin: auto;
    margin-top: 20%;
    box-shadow: 4px 5px 26px 14px #a5a0f3;
    text-align: center;

}

.student-profile-remaining-lessons{
    border-radius: 10px;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    color: #5857c3;
    padding: 2.8em 1em 2.8em 1em;
    box-shadow: rgb(209,209,213) 0px 5px 15px;
    text-align: center;
    background-color: white;
}
.book-lessons-main-container-1{
    border-radius: 5px;
    height: 400px;
    width: 100%;
    margin: auto;
    margin-top:2%;
    /*color: #5857c3;*/
    /*box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);*/
    text-align: center;
    background-color: white;
    padding: 1em 0;
}

#student-lecture-videos-content {
    height: 100%;
    width: 100%;
}
.student-lecture-videos-banner {
    height: 200px;
    width: 100%;
    background: black;
    margin-bottom: 1em;
}


.videoThumb {
    max-width: 100%;
    height: auto;
}
/*
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page.
*/
.video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 23%; /* Thumbnails 4 across */
    margin: 1%;
    float: left;
}
/*
These styles keep the height of each video thumbnail consistent between YouTube and Vimeo.
Each can have thumbnail sizes that vary by 1px and are likely break your layout.
*/
.video figure {
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video figure a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
}
.video h2 {
    text-align: center;
    font-size: 1.5em;
}
/* Media Queries - This is the responsive grid. */
@media (max-width: 1024px) {
    .video {
        width: 31.333%; /* Thumbnails 3 across */
    }
}
@media (max-width: 600px) {
    .video {
        width: 48%; /* Thumbnails 2 across */
    }
}
@media (max-width: 360px) {
    .video {
        display: block;
        width: 96%; /* Single column view. */
        margin: 2%; /* The smaller the screen, the smaller the percentage actually is. */
        float: none;
    }
}
/* These are my preferred rollover styles. */
.video img {
    width: 100%;
    opacity: 1;
}
.video img:hover, .video img:active, .video img:focus {
    opacity: 0.75;
}


#student-terms-and-cond-content {
    padding: 1em;
}

.student-terms-wrapper {
    height: 100%;
    width: 80%;
    /*border: 1px solid black;*/
    padding: 3em;
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    background-color: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
    margin: auto;
    margin-top: 2%;

}
.student-terms-wrapper h3 {
    text-align: center;
    margin-bottom: 1em;
    font-weight: 900;
    font-size: 3em;
    color: rgba(0,0,0,0.7);

}

#student-terms-list {
    list-style-type: circle;
    text-align: justify;
    padding: 2em;
    /*margin: auto;*/
}

#student-terms-list li {
    margin: 10px 0;
}


#student-terms-list li p{
    font-size: 0.9em;
    color: rgba(0,0,0,0.8);
    text-align: justify-all;
}

.paypal-div{
    padding: 50px;
    margin: auto;
    margin-top: 3em;
    text-align: center;
    width: 40%;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
.ui-dialog .ui-dialog-buttonpane button{
    text-align: center!important;
    width: 170px!important;
    margin: .5em .4em .5em 0!important;
    cursor: pointer!important;
}

/*.tab-pane-common-student{*/
/*    width: 100%;*/
/*    min-height: 120vh;*/
/*}*/
@media screen and (max-width: 768px) {
    .student-tab-panel-section {
        display: none;
    }

    .student-page-header {
        height: 100%;
        width: 100%;
        padding: 1em;
    }

    .inner-student-header {
        flex-direction: column;
        height: 100%;
    }

    .upcoming-lessons, .upcoming-date-time {
        width: 340px;
    }

     .upcoming-date-time {
         position: relative;
         text-align: center;
         height: 80px;
         padding: 1em;
     }

     .upcoming-date-time p {
         position: relative;
         left: 0;
         top: 0;
     }

    .student-course-details {
        width: 380px;
    }

    .student-course-details {
        flex-direction: column;
        /*height: 200px;*/
        /*width: 400px;*/
    }

    .inner-header-col-3 {
        margin: 1em 0;

    }

    .student-course-details{
        height: 500px;
        margin-top: 7em;
    }

    .student-course-details > .course-student-header ,.student-course-details > .lesson-student-header,.student-course-details > .teacher-name-for-course {
        /*margin: 1em 0;*/
        width: 90%;
        justify-content: center;
    }

    .student-course-details > div > strong {
        margin-left: 7em;
    }

    .teacher-for-course-avatar, .lesson-student-img, .course-student-img {

        top: 13%;
        left: 3%;
    }

    .student-zoom-link {
        bottom: 87%;
        left: 4em;
    }

    .st-heading {
        margin-bottom: 1.5em;
    }


}
/*.tab-pane-common-student{*/
/*    width: 100%;*/
/*    min-height: 120vh;*/
/*}*/